:root {
  font-family: sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #8dafff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
  cursor: pointer;
  transition: color 0.25s;
  padding: 6px;
  background-color: rgb(142, 111, 251);
  border: 1px white solid;
}
a:hover {
  color: #b5b9fe;
  background-color: rgb(54, 0, 54);
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  text-align: left;
}

h1 {
  font-size: 3.2em;
  line-height: 0.3;
  color: darkblue;
  left: 5px;
  position: relative;
}

h2 {
  font-size: 1.6em;
  color: blue;
  left: 5px;
  position: relative;
  font-style: italic;
}

h3 {
  font-size: 1.1em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ffacac;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #f33431;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#homepage {
  background-color: maroon;
}

#homebody {
  background-color: rgb(192, 192, 192);
  color: rgb(0, 0, 0);
  width: 60%;
  height: 80%;
  right: 20%;
  top: 10%;
  position: absolute;
  border: 4px solid rgb(0, 0, 0);
  border-radius: 8px;
}

#homenamecard {
  background-color: rgb(255, 0, 0);
  color: white;
  padding: 5px;
  width: 95%;
  left: 2.5%;
  top: 2%;
  position: relative;
  border: 2px solid black;
  border-radius: 8px;
  text-align: center;
}

#homenamecard h1 {
  font-size: 2.5em;
  color: white;
}

#slot1body {
  background-color: rgb(123, 123, 251);
  color: rgb(129, 255, 255);
  width: 60%;
  height: 80%;
  right: 20%;
  top: 10%;
  position: absolute;
  border: 4px solid white;
  border-radius: 8px;
}

#namecard1 {
  background-color: rgb(70, 144, 255);
  display: flex;
  width: 95%;
  left: 2.5%;
  top: 2%;
  position: relative;
  border: 2px solid black;
  border-radius: 8px;
  text-align: center;
}

#slot2body {
  background-color: rgb(192, 141, 254);
  color: rgb(77, 42, 252);
  width: 60%;
  height: 80%;
  right: 20%;
  top: 10%;
  position: absolute;
  border: 4px solid rgb(146, 38, 255);
  border-radius: 8px;
}

#namecard2 {
  background-color: rgb(135, 70, 255);
  display: flex;
  width: 95%;
  left: 2.5%;
  top: 2%;
  position: relative;
  border: 2px solid black;
  border-radius: 8px;
  text-align: center;
}

#stats {
  margin-left: 20px;
}

#moves {
  margin-left: 20px;
}

#text {
  margin-left: 3px;
}

#pokeImg {
  margin-left: 20px;
}