@font-face {
    font-family: silkfont;
    src: url(silkfont.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 1%;
    font-family: "silkfont", sans-serif;
    overflow-y: scroll;
}
footer {
    text-align: center;
    font-family: "silkfont";
    font-size: 15px;
    background-color: whitesmoke;
    color: black;
    margin-left: 20%;
    margin-right: 20%;
}

p {
    font-size: 20;
}
h1 {
    font-size: 75;
    text-align: center;
}
h2 {
    font-size: 60;
    text-align: center;
}

#special{
    font-size: 40;
    text-align: center;
}
#normal{
    border: solid;
    border-radius: 15px;
    border-color: rgb(247, 32, 4);
}

.flex-container {
    display: flex;
    background-color: rgb(137, 30, 0);
}

.flex-container > div {
    background-color: #ffcfcfbf;
    margin: 5px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.cardcont {
    display: flex;
    font-family: "silkfont", sans-serif;
    font-size: 10px;
}

.cardcont > div {
    margin: 2px;
    color:aquamarine;
    text-align: center;
}

a:hover {
    background-color: rgb(253, 98, 86);
    font-size: 32px;
}

.weave {
    border: solid;
    border-radius: 15px;
    border-color: rgb(252, 252, 252);
    align-self: center;
}


/* I tried so, so hard to figure out negative margins but it just didn't work out
So for now, I just threw together some custom background images. I hope that's alright :> 
Also I know they don't work well with overflow, but I almost think that adds to the experience
of this being a crappy travel guide. Totally not an excuse, mhm yep. The images that start and
end in black look normal though, improvements for next time I suppose!
*/
.bonebottom{
    background-image: url("BoneBottom.jpg");
    background-size: 200vh;
    color: rgb(255, 255, 255);
}
.mossgrotto{
    background-image: url("MossGrotto.jpg");
    background-size: 200vh;
    color: rgb(135, 238, 162);
}
.marrow{
    background-image: url("Marrow.jpg");
    background-size: 200vh;
    color: rgb(13, 11, 3);
}
.deepdocks{
    background-image: url("DeepDocks.jpg");
    background-size: 200vh;
    color: rgb(255, 189, 36);
}
.huntersmarch{
    background-image: url("HuntersMarch.png");
    background-size: 200vh;
    padding: -50px;
    color: rgb(185, 15, 3);
}
.farfields{
    background-image: url("FarFields.jpg");
    background-size: 200vh;
    color: rgb(240, 121, 78);
}
.cursed{
    background-image: url("Cursed.png");
    background-size: 220vh;
    overflow: hidden;
}


.card {
    width: 700px;
    height: 153px;
    margin: 20px;
    padding: 0px;
    border: 2px solid #05f37c;
    border-radius: 12px;
    box-sizing: border-box;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to bottom, #a40000, #006d25);
    line-height: 1.4;
}

.card:hover {
  border-color: rgb(209, 245, 3);
  box-shadow: 0 8px 20px rgba(255, 255, 255, 0.2);
}