body {
    background-color: aliceblue;
}

#callBackButton {
    position: fixed;
    left: 47%;
    color: black;
    background-color: aquamarine;
    font-size: 25px;
}

#foodDiv {
    background-color: azure;
    top: 5%;
    left: 5%;
    width: 90%;
    position: absolute;
}

#foodName {
    font-size: 65px;
    color: black;
    font-style: bold;
    margin-left: 5px;
}

#foodTags {
    font-size: 30px;
    color: rgb(117, 117, 255);
    margin-left: 5px;
}

#foodFlex {
    display: flex;
    position: relative;
}

#foodImage {
    width: 40%;
    border-radius: 5px;
    border-color: whitesmoke;
    display: flex;
    position: relative;
    margin-left: 5px;
}

#Directions {
    width: 50%;
    display: flex;
    font-size: 30px;
    position: relative;
    margin-left: 5%;
}

#Ingredients {
    font-size: 30px;
    color: rgb(55, 43, 226);
    margin-bottom: 10px;
    margin-left: 10px;
}

.target {
    width: 100%;
}

#funny {
    text-align: center;
    color: palevioletred;
    font-size: 20px;
    margin-bottom: 20px;
}